*.o
.DS_Store
.*.swp
/env
/dl/*
/.config
/.config.old
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds
/feeds.conf
/files
/overlay
/package/feeds
/package/openwrt-packages
/*.patch
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
.project
.cproject
.ccache
.vscode

!/dl/1905daemon*
!/dl/AFC*
!/dl/apcli_detectd*
!/dl/ated_ext*
!/dl/codechecker*
!/dl/ControlAppC*
!/dl/datconf*
!/dl/hostapd*
!/dl/iw*
!/dl/libiwinfo*
!/dl/libmapd*
!/dl/libwpactrl*
!/dl/mapd*
!/dl/mapfilter*
!/dl/mt76*
!/dl/mtfwd*
!/dl/mtk*
!/dl/mtqos*
!/dl/mt_wifi_osal*
!/dl/netifd*
!/dl/rpcd*
!/dl/wappd*
!/dl/warp*
!/dl/wificonf*
!/dl/wireless*
